#container{
    background-color: burlywood;
    width: 100%;
    /* height: 700px; */
}

#container .col1{
    background-color: blueviolet;
    width: 20%;
    height: 500px;
    float: right;
}
#container .col2{
    background-color: brown;
    width: 20%;
    height: 100px;
    float: left;
}

#container .col3{
    background-color: aqua;
    height: 200px;
    float: left;
    width: 20%;
}
#container .col4{
    background-color: chartreuse;
    float: left;
    height: 200px;
    width: 20%;
}
#container .col5{
    background-color: crimson;
    float: left;
    height: 200px;
    width: 20%;
}
/* .row::after{
    background-color: coral;
    content: " ";
    display: block;
    clear: both;
} */

.row{
    display: flex;
}